[Interface]
PrivateKey = {{ client_private_key }}
Address = {{ client_ip }}/24
SaveConfig = true

[Peer]
PublicKey = {{ server_public_key }}
AllowedIPs = 10.0.3.0/24
Endpoint = {{ server_endpoint }}
PersistentKeepalive = 25
